@import './normalize.css';
@import './type.css';
@import './hover.scss';
// Responsive styles are imported at the bottom

$header-width: 1200px;
$header-background: rgba(252, 253, 254, 0.9);
$container-width: 1200px;
$content-width: 50rem;

* {
  box-sizing: border-box;
}

body {
  margin-top: 10rem;
  background-color: rgb(252, 253, 254);
  font-family: 'Benton Sans', -apple-system, system-ui, BlinkMacSystemFont;
  font-size: 1.5rem;
}

h1 {
  font-size: 56pt;
  line-height: 68pt;
}

h2 {
  font-size: 32pt;
  line-height: 36pt;
  font-weight: 500;
  margin-top: 4rem;
}

h3 {
  font-size: 24pt;
  line-height: 28pt;
  font-weight: 400;
}

p,
blockquote {
  font-size: 18pt;
  line-height: 24pt;
}

a {
  text-decoration: none;
  color: #000;
}

blockquote {
  border-left: 2px solid blue;
  padding-left: 4rem;
}

img {
  display: block;
}

.container {
  max-width: $container-width;
  margin: auto;
}

.video-embed {
  position: relative;
  padding-bottom: 38.25%;
  height: 0;
}

.content {
  p,
  blockquote,
  h1,
  h2,
  h3,
  .video-embed {
    margin-left: auto;
    margin-right: auto;
    max-width: $content-width;
  }
  iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}

.hero {
  max-width: $content-width;
  padding: 4rem 0;
  p {
    font-size: 24pt;
    line-height: 28pt;
  }
}

header {
  position: fixed;
  min-height: 3.25rem;
  z-index: 30;
  top: 0;
  left: 0;
  right: 0;
  background-color: $header-background;
}

.navbar {
  max-width: $header-width;
  margin: auto;
  padding-top: 0.5em;
}

.navbar,
.navbar-end,
.navbar-menu,
.navbar-start {
  align-items: stretch;
  display: flex;
}

.navbar-brand {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
  a {
    text-decoration: none;
  }
  #logo-icon {
    margin-right: 0.5em;
  }
  #logo-text {
    color: #000;

    font-size: 2em;
    font-weight: 700;
  }
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1.5;
  position: relative;
  color: #000;
  text-decoration: none;
}
.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
  .navbar-item {
    padding: 0.5em;
  }
  .navbar-item:last-of-type {
    padding-right: 0;
  }
}

.mobile-menu {
  cursor: pointer;
  display: none;
  // height: 3.25rem;
  position: relative;
  // width: 3.25rem;
  margin-left: auto;
  top: 0.5em;
  height: fit-content;
  padding: 0.5em;
  border: 1px solid black;
  font-weight: bold;
}

small {
  display: block;
  font-size: 1rem;
}

.project-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .project-block,
  .project-block--content {
    border-radius: 0.75rem;
  }
  .project-block {
    position: relative;

    line-height: normal;
    width: 48%;
    height: 400px;
    transform-style: preserve-3d;
    color: #fff;
    .project-block--content {
      position: absolute;
      top: 0;
      height: 100%;
      padding: 3rem 3rem;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      transition: opacity 200ms ease;
      h3 {
        margin: 0;
        margin-bottom: 1rem;
      }
      p {
        width: 80%;
        margin: 0;
        top: 1rem;
        font-size: 14pt;
        line-height: 16pt;
      }
      small {
        margin-bottom: 1rem;
      }
    }
    // img {
    //   transition: all 200ms ease;
    //   object-fit: cover;
    // }
  }
  .project-block:hover,
  .project-block:focus {
    img {
      filter: blur(1px);
      transform: scale(1.005);
    }
    .project-block--content {
      opacity: 1;
    }
  }
}

.featured-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 20rem;
  .featured-block--name,
  .featured-block--item-title,
  .featured-block--see-all,
  .featured-block--context {
    flex: 1 0 50%;
  }
  .featured-block--see-all,
  .featured-block--context {
    text-align: right;
  }
}

@import './responsive.scss';
